<!DOCTYPE html>
<html>
<head>
  <title>Oauthority</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/showdown/1.3.0/showdown.min.js", 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" data-cfasync="false">
    (function() {
      var config = {
        kitId: 'voa6eso',
        scriptTimeout: 3000
      };
      var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
    })();
  </script>
</head>
<body>

  <nav class="navbar navbar-light bg-faded">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <%= link_to "OAuthority", root_path, class: 'navbar-brand' %>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <%= link_to "Projects", projects_path, class: "nav-link" %>
        </li>
        <% if @project.present? && @project.persisted? %>
          <li class="nav-item">
            <%= link_to "#{@project.name} Services", project_services_path(@project), class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <% if alert %>
      <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <%= alert %>
      </div>
    <% end %>

    <% if notice %>
      <div class="alert alert-info alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <%= notice %>
      </div>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
